[run]
omit =
    src/nlqe/openai/client.py
    src/nlqe/openai/__init__.py
    src/nlqe/testing/__init__.py
    src/nlqe/utils/logging.py
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    if 0:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    except Exception as e: